* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  font-family: Gilroy, sans-serif;
  position: relative;
}

.table__wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.table__wrapper .title {
  text-align: left;
  color: grey;
  width: 40%;
  margin-bottom: 20px;
  vertical-align: top;
}
.table__wrapper .descriptionit {
  width: 60rem;
}
.table__wrapper .under-title {
  vertical-align: top;
}
.table__wrapper table {
  border-spacing: 0px;
  border-collapse: separate;
}
.table__wrapper th,
.table__wrapper td {
  padding: 15px 0px;
  border-bottom: 2px solid #ddd;
  padding-right: 10px;
}/*# sourceMappingURL=index.css.map */