* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  font-family: Gilroy, sans-serif;
  position: relative;
}
.table__wrapper {
  width: 100%;
  // background-color: blue;
  height: max-content;
  position: relative;

  .title {
    text-align: left;
    color: grey;
    width: 40%;
    margin-bottom: 20px;
    vertical-align: top;
    
  }

  .descriptionit {
    width:60rem;
    // background-color: violet;
  }
  .under-title {
    // background-color: red;
    vertical-align: top;
  }
  table {
    border-spacing: 0px;
    border-collapse: separate;
   
  }
  
  
  th,
  td {
    padding: 15px 0px;
    border-bottom: 2px solid #ddd;
    padding-right: 10px;
  }
}
