<template>
  <div id="item">
    <div class="item__inner">
      <h2>{{el.title}}</h2>
      <p>
      {{el.description}}
      </p>
      <div class="time__date">
        <span>{{el.date}}</span>
        <span>{{el.time}}</span>
      </div>
      <p>{{el.selection}}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
    props:['el'],
  name: "Aims",
  components: {},
  methods: {
    ...mapGetters(['TasksArray']),
    ...mapGetters(['obj']),
  },
  mounted(){
    
  }
};
</script>

<style>
#item {
  width: 450px;
  min-height: 230px;
  /* height: max-content; */
  border-radius: 9px;
  padding: 30px;
  border: 2px solid #ddd;
}
.item__inner {
  /* background: red; */
  display: flex;
  flex-direction: column;
}
.item__inner p:nth-child(2) {
  opacity: 0.4;
  word-break: break-all;
}
.item__inner > * {
  margin: 5px 0px;
}
.time__date > * {
  margin-right: 10px;
}
</style>
