<template>
  <header class="header">
    <div class="header__inner">
      <div class="header__inner__top">
        <h1>Dashboard</h1>
        <button @click="SHOWMODAL()" class="btn">Добавить задачу</button>
      </div>
      <div class="header__inner__bottom">
        <span>Показать задачи как:</span>
        <nuxt-link to="/">Таблица</nuxt-link>
        <nuxt-link to="tile">Плитка</nuxt-link>
      </div>
    </div>
  </header>
</template>

<script>
import {mapGetters, mapActions,mapMutations} from "vuex"
export default {
    name:"Header",
    methods:{
    ...mapMutations(['SHOWMODAL']),
    
    },  
    mounted(){

    }
};
</script>

<style>
.header {
  width: 100%;
  height: 150px;
  /* background: red; */
  display: flex;
  align-items: center;
}
.header__inner {
  width: 40%;

  /* background: blue; */
}
.header__inner__top {
  display: flex;
  margin-bottom: 40px;
}
.header__inner__top > * {
  margin-right: 20px;
}
.header__inner__top h1 {
  font-size: 40px;
}
.btn {
  width: 200px;
  border: none;
  border-radius: 9px;
  background: #007fff;
  color: #fff;
  font-size: 17px;
}
.header__inner__bottom > * {
  margin-right: 10px;
  text-decoration: none;
}
.header__inner__bottom a {
  color: grey;
}
.header__inner__bottom a.nuxt-link-exact-active {
  color: #007fff;
}

</style>
