<template>
  <transition name="home">
      <div id="modals" v-if="ShowModal()">
        <div  class="modal modal-edit">
            <div class="modal_title">
          <h2>Добавить</h2>
          <span class="cross" @click="CLOSE">&#215</span>
            </div>
          <form action="" @submit.prevent="ADDTASKS" id="AddTask">
            <input type="text" name="title" placeholder="Заголовок" />
            <input type="text" name="description" placeholder="Описание" />
            <input type="time" name="time" placeholder="Время" />
            <input type="date" name="date" placeholder="Дата" />
            <select name="selection" id="selectIt">
              <option value="new">New</option>
              <option value="progress">In progress</option>
              <option value="done">Done</option>
            </select>
            <button class="btn button_form">Добавить</button>
          </form>
          <transition name=slide>
          <span  class="Fillit" v-if="ShowError()"> Заполните поля! </span>
          </transition>
        </div>
      </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  name: "Modal_window",
  transition: "home",
  methods: {
    ...mapGetters(["ShowError"]),
    ...mapGetters(["ShowModal"]),
    ...mapMutations(["SHOWMODAL"]),
    ...mapMutations(["ADDTASKS"]),
    ...mapMutations(["CLOSE"]),
  },
};
</script>

<style>
#modals {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
 
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;


}

.modal {
  margin: auto;
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* background: red; */
  border-radius: 9px;
  padding: 40px;
  /* border: 2px solid #ddd; */
  background: #fff;
 
position: relative;
  z-index: 200;
}
.modal_title{
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    position: relative;
}
.cross{
   cursor: pointer;
   display: inline-block;
}

h2 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
form > * {
  height: 50px;
  border-radius: 9px;
  margin: 5px 0px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  outline: none;
  padding: 0px 20px;
  font-size: 17px;
  font-weight: 500;
}
input::placeholder {
  color: #000;

  font-size: 17px;
}
.button_form {
  width: 100%;
}
.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}
.Fillit{
  font-size: 25px;
  color:red;

}
.slide-leave-active,
.slide-enter-active {
  transition: .5s;
}
.slide-enter {
  transform: translate(60%, 0);
}
.slide-leave-to {
  transform: translate(-60%, 0);
}

</style>
