<template>
  <div id="table">
    <Header></Header>
    <div class="table__wrapper">
      <table class="table-itself">
        <tr class="title">
          <th>Заголовок задачи</th>
          <th class="descriptionit">Описание задачи</th>
          <th>Дата</th>
          <th>Время</th>
          <th>Выполнено</th>
        </tr>
        <tr
          v-for="item of TasksArray()"
          :key="item.id"
          :el="item"
          class="under-title"
        >
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.time }}</td>
          <td>{{ item.selection }}</td>
        </tr>
      </table>
    </div>
    <ModalWindow />
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import Modal_window from "../components/modal_window.vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
import "../css/index.css";
export default {
  name: "IndexPage",
  methods: {
    ...mapGetters(["TasksArray"]),
    ...mapGetters(["arr"]),
    ...mapActions(["PARSE_LOCAL"]),
    ...mapActions(["PARSEIT"]),
  },
  created() {
    if (process.client) {
      this.PARSEIT();
    }
  },
  components: {
    Header,
    Modal_window,
  },
};
</script>
