<template>
  <div id="tile">
    <Header />
    <div class="tile__wrapper">
      <Aims v-for="item of TasksArray()" :key="item.id" :el="item" />
    </div>
    <ModalWindow />
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import Aims from "../components/aims.vue";
import Modal_window from "../components/modal_window.vue";
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  name: "Tile",
  components: {
    Header,
    Aims,
    Modal_window,
  },
  methods: {
    ...mapGetters(["TasksArray"]),
    ...mapActions(["PARSEIT"]),
  },
  created() {
    if (process.client) {
      this.PARSEIT();
    }
  },
  mounted() {},
};
</script>

<style>
#tile {
  position: relative;
}
.tile__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tile__wrapper > * {
  margin: 5px 10px;
}
</style>
